<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sunny Hot Weather App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div class="main">
  <span class="city">Gdynia</span>
  <span class="date">{{res.dt | dateFormatting}}</span>

  <div class="icon">
    <img src="http://openweathermap.org/img/wn{{res.weather.icon[0]}.@2x.png}" alt="">
  </div>

  <span class="description">{{res.weather[0].description}}</span>
  <span class="temperature">{{ res.main.temp | number: '1.0-0'}} F</span>


</div>

<ion-grid>
  <ion-row>
    <ion-col class="1strow">highest day temp: </ion-col>
    <ion-col class="1strow">{{ res.main.temp_max | number: '1.0-0'}}</ion-col>
    <ion-col class="1strow">lowest day temp: </ion-col>
    <ion-col class="1strow">{{ res.main.temp_min | number: '1.0-0'}}</ion-col>
    <ion-col class="1strow">air preassure </ion-col>
    <ion-col class="1strow">{{ res.main.pressure | number: '1.0-0'}}</ion-col>
  </ion-row>
 
</ion-grid>
</ion-content>
